<!-- Footer -->
<footer>
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">Team Blog Hub</h5>
            <p class="card-text">Thanks for visiting our webpage. Do connect with us on Socials.</p>
            <a href="https://github.com/yash-johari" class="btn btn-dark" target="_blank">Developer's GitHub</a>
        </div>
        <div class="card-footer text-body-secondary">
            Made with ❤ by Yash Johari in India.
        </div>
    </div>
</footer>
</body>
</html>