<%- include("partials/header.ejs") %>


    <!-- Home Page -->
    <h1>Welcome to our Blog Hub: Where Ideas Flourish and Perspectives Unite!</h1>
    <div class="paraHome">
        <p class="paraText">In the bustling world of online content, we believe in more than just words on a screen.
            Here at Our Blog Hub, we've crafted a digital sanctuary where creativity thrives, and voices resonate.
            Whether you're a seasoned wordsmith, an avid reader, or a curious explorer of diverse viewpoints, our
            platform is your haven.</p>
        <p class="paraText">Embark on a journey through captivating narratives, thought-provoking analyses, and
            insightful musings penned by a community of passionate writers from all walks of life. Dive deep into topics
            spanning from technology to culture, from science to philosophy, and beyond. Our blog isn't just about
            sharing information; it's about fostering connections, sparking conversations, and igniting inspiration.</p>
        <p class="paraText">Join us in celebrating the power of expression and the beauty of human intellect. Whether
            you're here to share your stories, engage in meaningful discourse, or simply immerse yourself in the
            boundless realm of ideas, Our Blog Hub welcomes you with open arms.</p>
        <p class="paraText">Let your curiosity lead the way as you navigate through our virtual corridors of knowledge
            and creativity. Together, let's embark on an enriching journey of exploration, enlightenment, and endless
            possibilities. Welcome to Our Blog Hub - where every click opens the door to new discoveries and enriching
            experiences.</p>
    </div>

    <!-- Buttons to move to different pages -->
    <div class="buttonContainer">
        <ul class="buttons">
            <li><a href="/"><button type="button">Home Page</button></a></li>
            <li><a href="/create"><button type="button">Create a Blog</button></a></li>
            <li><a href="/view"><button type="button">View your Blog</button></a></li>
        </ul>
    </div>

<%- include("partials/footer.ejs") %>