<%- include("partials/header.ejs") %>

    <div id="submitPage">
        <h2 class="submitH2">Blog Created📃</h2>

        <div class="buttonContainer">
            <ul class="buttons">
                <li><a href="/"><button type="button">Home Page</button></a></li>
                <li><a href="/create"><button type="button">Create Another Blog</button></a></li>
                <li><a href="/view"><button type="button">View Your Blog</button></a></li>
            </ul>
        </div>

    </div>

    <%- include("partials/footer.ejs") %>